<div class="navbar-nav small">
    <div class="navbar-text form-check from-switch form-check-reverse me-2">
        <input class="form-check-input" type="checkbox" id="darkModeSwitch">
        <label class="form-check-label" for="darkModeSwitch">
            <i class="bi bi-moon-stars modo-luz"></i>
        </label>

    </div>

    @if (User.Identity?.IsAuthenticated == true) {
        <a class="nav-link" asp-controller="Perfil">Hola @(User.Identity.Name)!</a>
        <a class="nav-link" asp-controller="Auth" asp-action="Salir">Salir</a>
    } else {
        <a class="nav-link" asp-controller="Auth" asp-action="Index">Iniciar sesión</a>
    }

    <div class="navbar-text">
        <img src="~/images/netlogo.jpg" height="20" />
    </div>
</div>