@using System.Security.Claims

<div class="me-auto navbar-nav">

    @if (User.Identity?.IsAuthenticated == true) {
        @if (User.FindFirstValue (ClaimTypes.Role) == "Usuario") {
            <a class="nav-link" asp-controller="Comprar" asp-action="Index">Comprar</a>
            <a class="nav-link" asp-controller="Carrito" asp-action="Index">
                <i class="bi bi-cart"></i> Carrito
            </a>
        } else if (User.FindFirstValue (ClaimTypes.Role) == "Administrador") {
            <a class="nav-link" asp-controller="Productos" asp-action="Index">Productos</a>
            <a class="nav-link" asp-controller="Categorias" asp-action="Index">Categorías</a>
            <a class="nav-link" asp-controller="Archivos" asp-action="Index">Archivos</a>
            <a class="nav-link" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
            <a class="nav-link" asp-controller="Bitacora" asp-action="Index">Bitacora</a>
        }

    } else {
        <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
    }

</div>