@model frontendnet.Models.Usuario

<div class="card mt-3">
    <div class="card-body">
        <div class="mb-3 ps-3">
            <label asp-for="Email" class="form-label"></label>
            <div class="form-text text-body">@Model.Email ?? "No disponible"</div>
        </div>
        <div class="mb-3 ps-3">
            <label asp-for="Nombre" class="form-label"></label>
            <div class="form-text text-body">@Model.Nombre ?? "No disponible"</div>
        </div>
        <div class="mb-3 ps-3">
            <label asp-for="Rol" class="form-label"></label>
            <div class="form-text text-body">@Model.Rol ?? "No disponible"</div>
        </div>
    </div>
</div>
